.element__delete {
  position: relative;
  top: 20px;
  right: 20px;
  align-self: flex-end;
  width: 18px;
  height: 19px;
  background-image: url(../../../image/Trash.png);
  background-size: cover;
  background-color: transparent;
  border: 0;
}