.profile__info {
  display: grid;
  grid-template-areas:
  'name edit-button'
  'occupation occupation';
  grid-column-gap: 18px;
  grid-row-gap: 16px;

}

@media screen and (max-width: 879px) {
  .profile__info {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 282px;
    justify-content: center;
  }
}